<h1>All Patients</h1>

<%= link_to "Create new patient", new_patient_path %>

<br></br>

<table>
<tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Diagnosis</th>
    <th>Birth date</th>
</tr>

<% @patients.each do |patient| %>
    <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.diagnosis %></td>
        <td><%= patient.born_on %></td>
        
        <td><%= link_to "View patient", patient_path(patient) %></td>
    </tr>
<% end %>

</table>